@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Junge&display=swap');
.junge-regular {
  font-family: "Junge", cursive;
  font-weight: 400;
  font-style: normal;
}
.imperial-script-regular {
    font-family: "Imperial Script", serif;
    font-weight: 400;
    font-style: normal;
  }
  .playwrite-hu {
    font-family: "Playwrite HU", serif;
    font-optical-sizing: auto;
    font-weight:3rem;
    font-style: normal;
  }
  .markazi-text {
    font-family: "Markazi Text", serif;
    font-optical-sizing: auto;
    font-weight:300;
    font-style: normal;
  }
.logostyle{
    position: absolute;
    top: 40px;
    left: 50%;
 transform: translateX(0); 
    z-index: 2;
    max-width: 100px;
    height: auto;
  
}
.indexpage{
    overflow: hidden;
}
.indexcontainer{
    position: relative;
    background-image: url('.././assets/indeximage.jpg');
    height: 100vh;
width:full;
object-fit:contain;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
display: flex;
justify-content: center;
align-items: flex-end;
padding: 20px;
 }
 .zoom-in-out-element {
    animation: zoom-in-zoom-out 10s ease-in infinite;
 
   
}
  
  @keyframes zoom-in-zoom-out {
    0% {
      scale: 100%;
    }
    50% {
      scale: 120%;
    }
    100% {
      scale: 100%;
    }
  }
  .loader-wrapperselection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1000;
}

.loaderselection {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #020202;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


  .indexContent{ 
    position: absolute; 
    bottom: 20px; 
    left: 50%;
    transform: translateX(-50%); 
    text-align: center;
    z-index: 2; 
    color: white;
    padding-bottom: 20px;
  }
  .indexContent h2{
    font-family: 'junge-regular';
    color: rgb(255, 255, 255);
    font-size: 3rem;
     font-weight: 100;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)

  }

  .indexContent button{
     display: inline-block;  
  width: auto;           
  padding: 12px 24px;      
  align-self: center;      
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.45) 0%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.05) 100%
  );
  font-family:  'junge-regular';
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  border-radius: 18px;
   text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(2px);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.15);
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}


.indexContent button:hover {
  background: rgba(255, 255, 255, 0.2);
  transform: translateY(-2px) scale(1.02);
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.25);
}


.indexContent button:active {
  transform: scale(0.98);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

  @media (max-width: 768px) {
    .logostyle {
      top: 40px;
      left: 50%;
      transform: translateX(-50%); 
    }
    .indexcontainer{
        position: relative;
     
        height: 100vh;
    width:full;
    object-fit:contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
   
     }
    .indexContent button{
    font-size: 16px;
      padding: 10px 20px; 
    }
    
    .indexContent h2{
         font-size: 24px;
        font-weight: 100;
        
    }


  }